
 <div class="divA">
    <h1> CONTACT US </h1>
</div>
<div class="divB">
    <p> feel free to contact us and we will get <br> back to you as soon as we can  </p>
</div>
<div class="divC">
    <p> Name </p>
    <hr>
    <p> Email Address </p>
    <hr>
    <p> tell us about it </p>
    <hr>
    <button> Send </button>
</div>
<div class="divD">
    <p> Address </p>
    <p style="color: #FFF;"> example@gmail.com </p>
    </div>

    <div class="support">
    <P> support</P>
    <p style="color: #FFF;"> example@gmail.com</p>
    <p style="color: #FFF;"> +254 700 000 000 </p>
    </div>
    <div class="footer">
        <p> Instagram </p>
        <p> Twitter </p>
        <p> Facebook </p>
        <p> WhatsApp </p>
    </div>