<div class="about">
  <div class="us">
    <h1>
      About us <hr>
    </h1>
    <p class="p1">
      By just clicking a button, Fuel dispatch<br>solutions will deliver fuel to you wherever<br> you are at whatever time of the day!
    </p>
    <p class="p2">
      Our website shows you the nearest fuel<br>stations, current prices, contact details<br>and the dispatch methods available.
    </p>
  </div>
</div>
<div class="why">
  <h2>Why Choose Us</h2>
</div>
<div class="reasons">
  <div class="fast">
    <img src="./images/sudan1.jpeg" alt="fast">
    <h2><em>Fa<span>st</span></em></h2>
    <p>We save you the time you would take<br> to move around looking for the nearest gas station.</p>
  </div>
  <div class="reliable">
    <img src="./images/fuelB.jpeg" alt="rel">
    <h2><em>Rel<span>iable</span></em></h2>
    <p>We are always a click away.<br> Our riders are always ready to bring <br>you the fuel wherever you are.</p>
  </div>
  <div class="affordable">
    <img src="./images/fuelA.jpeg" alt="af">
    <h2><em>Affor<span>dable</span></em></h2>
    <p>We get you the best prices <br>in the market.</p>
  </div>
</div>

