nav .collapse ul li {
        margin: 0 1.2rem;
    }

nav .collapse ul li a:hover {
        outline: 1px solid #FFF;
    }

nav .login {
    margin-left: 2rem;
}

@media only screen and (max-width: 767px) {
    nav .collapse ul {
        width: auto;
    }

    nav .collapse ul li {
        margin: 0;
    }
}