<div class="cont">



  <form action="">
    <div>
      <img
        src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn1.vectorstock.com%2Fi%2Fthumb-large%2F05%2F85%2Fbio-fuel-logo-concept-vector-2040585.jpg&imgrefurl=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vectors%2Ffuel-logo-vectors&tbnid=7USbb_zhgekKIM&vet=12ahUKEwiUuZuuofL1AhXs3eAKHRIoDf4QMygSegUIARD9AQ..i&docid=Bd_GbjSR6KwejM&w=238&h=250&q=fuelslogo&ved=2ahUKEwiUuZuuofL1AhXs3eAKHRIoDf4QMygSegUIARD9AQ"
        alt="logo" height="80px">
    </div>
    <br>

    <div>
      <i class="fa-solid fa-user"></i>

      <input type="text" placeholder="Username ">
      <br> <br>
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="Password">
      <br><br>
      <button>Log In</button>
    </div>
    <br>


    <div class="forgot">
      <input type="checkbox">
      <label for="ch">Remember me</label>

      <a href="">forgot password</a>

    </div>



    <div>
      <hr>
      <br>


      New User? <a href="register.html" style="font-weight: bolder;">Register here</a>
    </div>
  </form>




</div>

