<div class="cont">



  <form action="">
    <div>
      <img src="/assets/login-images/logoz.jpeg" alt="logo"
        height="80px">
    </div>
    <br>

    <div>
      <i class="fa-solid fa-user"></i>

      <input type="text" placeholder="Username ">
      <br> <br>
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="Password">
      <br><br>
      <button>Log In</button>
    </div>
    <br>


    <div class="forgot">
      <input type="checkbox">
      <label for="ch">Remember me</label>

      <a href="">forgot password</a>

    </div>


    <hr>



    <p> Or sign up using </p>
    <div class="icon">
      <a href=""><i class="fa-brands fa-google-plus"></i></a>
      <a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>

    </div>
    <br>

      New User? <a href="register.html" style="font-weight: bolder;">Register here</a>
  
  </form>




