<div>
    <p class="p1">Fuel Dispatch is here to help you save - <span class="time">time</span></p>
        <div class="description">
            Looking for a quicker, more convenient and reliable way to fill up?<br>
            Fuel Dispatch got you covered ......Fuel dispatch helps  you by saving you the time of visiting a <br>
            petrol station.We offer fuel delivery services anywhere, anytime.
        </div>
        <p class="fuel">Fuel Delivery</p>
        <div class="container">
            <img class="image" src="/assets/services-images/car.jpg">
            <ul>
                <li><span class="fa-solid fa-star"></span>Save time in fuelling your car</li>
                <li><span class="fa-solid fa-star"></span>24/7 fuel delivery services</li>
                <li><span class="fa-solid fa-star"></span>No additional charges incurred</li>
                <li><span class="fa-solid fa-star"></span>Easy order and pay services</li>
            </ul>
        </div>
        <p class="p2">Petrol and diesel delivery to your location,<span class="time">with free delivery</span></p>
        <p class="p3">Same price as the petrol station</p>
        <div class="flex-container">
            <div>KSH.120.20<br><p class="p4">SPECIAL</p></div>
            <div id="second">KSH.132.60<br><p class="p4">SUPER</p></div>
            <div id="third">KSH.112.17<br><p class="p4">DIESEL</p></div>
        </div>
</div>
