<section class="container">
    <form (ngSubmit) = "searchInput()">
        <div class="search d-flex justify-content-center my-3">
            <div class="input-group input-group-lg w-50">
                <input type="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="userInput" placeholder="Find a place" [(ngModel)] = "userInput">
                <button type="submit" class="btn btn-md btn-success">Search</button>
            </div>
        </div>
    </form>

    <div class="map-container container">
        <div class="map-frame">
            <div id="map"></div>
        </div>

    </div>
</section>